<ul class="about-tit">
				#if($currenturl == "/about.html")<li class='xz'>#else<li>#end<a href='/about.html'>关于我们</a></li>
				#if($currenturl == "/history.html")<li class='xz'>#else<li>#end<a href='/history.html'>发展历程</a></li>
				#if($currenturl == "/join.html")<li class='xz'>#else<li>#end<a href='/join.html'>人才招聘</a></li>
				#if($currenturl == "/contact.html")<li class='xz'>#else<li>#end<a href='/contact.html'>联系我们</a></li>
				#if($currenturl == "/vips.html")<li class='xz'>#else<li>#end<a href='/vips.html'>会员服务</a></li>
			</ul>