<!-- 导航 -->
<div class="nav-box">
        <div class="box-con">
            <!-- 全部分类 -->
           <div class="n-left">全部分类
               <div class="banner-nav">
                   <div class="left-nav">
                       <dl>
                           <dd>
                               <a href="javascript:" class="nav-left">公司注册</a>
                               <div class="nav-right">
                                   <div class="main-box">
                                       <div class="left">
                                           <div class="list">
                                               <div class="title"><p>内资外资变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                           <div class="list">
                                               <div class="title"><p>内资外资变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                           <div class="list">
                                               <div class="title"><p>内资外资变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                   </ul>
                                               </div>
                                           </div>

                                       </div>
                                       <div class="right">
                                           <div class="pic">
                                               <a href="http://www.baidu.com"><img src="/images/index/pic/a1.jpg"></a>
                                               <img src="/images/index/pic/a2.jpg">
                                               <img src="/images/index/pic/a3.jpg">
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </dd>
                           <dd>
                               <a href="javascript:" class="nav-left">公司变更</a>
                               <div class="nav-right">
                                   <div class="main-box">
                                       <div class="left">
                                           <div class="list">
                                               <div class="title"><p>内资外资变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                           <div class="list">
                                               <div class="title"><p>内资外资变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="right">
                                           <div class="pic">
                                               <img src="/images/index/pic/a2.jpg">
                                               <img src="/images/index/pic/a1.jpg">
                                               <img src="/images/index/pic/a3.jpg">
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </dd>
                           <dd>
                               <a href="javascript:" class="nav-left">财税服务</a>
                               <div class="nav-right">
                                   <div class="main-box">
                                       <div class="left">
                                           <div class="list">
                                               <div class="title"><p>内资外资变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="right">
                                           <div class="pic">
                                               <img src="/images/index/pic/a3.jpg">
                                               <img src="/images/index/pic/a1.jpg">
                                               <img src="/images/index/pic/a2.jpg">
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </dd>
                           <dd>
                               <a href="javascript:" class="nav-left">知识产权</a>
                               <div class="nav-right">
                                   <div class="main-box">
                                       <div class="left">
                                           <div class="list">
                                               <div class="title"><p>内资外资变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                           <div class="list">
                                               <div class="title"><p>内资外资变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                           <div class="list">
                                               <div class="title"><p>内资外资变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="right">
                                           <div class="pic">
                                               <img src="/images/index/pic/a1.jpg">
                                               <img src="/images/index/pic/a2.jpg">
                                               <img src="/images/index/pic/a3.jpg">
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </dd>
                           <dd>
                               <a href="javascript:" class="nav-left">人事社保</a>
                               <div class="nav-right">
                                   <div class="main-box">
                                       <div class="left">
                                           <div class="list">
                                               <div class="title"><p>人事社保变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                           <div class="list">
                                               <div class="title"><p>人事社保变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="right">
                                           <div class="pic">
                                               <img src="/images/index/pic/a1.jpg">
                                               <img src="/images/index/pic/a3.jpg">
                                               <img src="/images/index/pic/a2.jpg">
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </dd>
                           <dd>
                               <a href="javascript:" class="nav-left">企业服务</a>
                               <div class="nav-right">
                                  <div class="main-box">
                                       <div class="left">
                                           <div class="list">
                                               <div class="title"><p>企业服务变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                           <div class="list">
                                               <div class="title"><p>企业服务变更</p></div>
                                               <div class="text">
                                                   <ul>            
                                                       <li><a href="">有限公司注册</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                       <li><a href="">分有公司注册</a></li>
                                                       <li><a href="">股份公司注册</a></li>
                                                       <li><a href="">集团公司</a></li>
                                                       <li><a href="">个体工商户</a></li>
                                                       <li><a href="">合伙企业设立</a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="right">
                                           <div class="pic">
                                               <img src="/images/index/pic/a1.jpg">
                                               <img src="/images/index/pic/a2.jpg">
                                               <img src="/images/index/pic/a3.jpg">
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </dd>
                       </dl>
                   </div>
               </div>
           </div>
           <ul class="nav-ul">
               <li><a href="" class="current">首页</a></li>
               <li><a href="">公司注册</a></li>
               <li><a href="">代理记账</a></li>
               <li><a href="">商标注册</a></li>
               <li><a href="">公司变更</a></li>
               <li><a href="">名称查询 </a></li>
           </ul>
       </div>
   </div>
<script type="text/javascript">
$("#flow-name").tabso({
    cntSelect:"#flow-con",
    tabEvent:"mouseover",
    tabStyle:"normal"
}); 

// 左导航切换显示
$(".left-nav dd").hover(function(){
    $(".nav-right",this).show();
});
$(".left-nav dd").mouseleave(function(){
    $(".nav-right",this).hide();
});

$('#cy-act').owlCarousel({
    items: 4,
    navigation: true,
    navigationText: ["",""],
    scrollPerPage: true
});

$('#ser-eval').owlCarousel({
    items: 2,
    navigation: true,
    navigationText: ["",""],
    scrollPerPage: true
});

$('#ent-info').owlCarousel({
    items: 1,
    navigation: true,
    navigationText: ["",""],
    scrollPerPage: true
});
</script>