<link href="http://static.lvzheng.com/lvzhengpc/css/law.css" type="text/css"  rel="stylesheet"/>
<script type="text/javascript">
$(function(){
  $(window).scroll(function(){
    var a=parseInt($(window).scrollTop());
    if(a<550){
      $(".bot-btn").removeClass("bot-btnxf")
    }
    if(a>550)
      {
      $(".bot-btn").addClass("bot-btnxf")
      }
  });
})  

</script>

   <!-- logo区域 -->
	#parse("views/common/logo_normal.html")
    <!-- 导航 -->
    #parse("views/common/navigation.html")
   
<div class="law-box">
    <div class="law-banner">
        <div class="banner-box">
            <a href="http://www.lvzheng.com/commondetail/detail/39186221829377.html" class="btn-tag">法务咨询1元体验 ></a>
        </div>
    </div>   

    <div class="law-main">
        <div class="law-box1">
            <p class="text1">合作谈成了，合同条款都不知？</p>
            <p class="text2">放心！交给小微法务！</p>
        </div>
        <div class="law-box2">
            <p class="text1">财务、税务有没有漏洞？</p>
            <p class="text2">放心！交给小微法务！</p>
        </div>
        <div class="law-box3">
            <p class="text1">股权、投融资怎么配？</p>
            <p class="text2">放心！交给小微法务！</p>
        </div>
        <div class="law-box4">
            <p class="text1">劳资、员工期权问题一团糟？！</p>
            <p class="text2">放心！交给小微法务！</p>
        </div>
        <div class="law-box5">
            <p class="text1">小微律政的法务<br>不仅是<span>懂财务、懂税法</span>的专业法务<br>还是<span>放心</span>的法务</p>
        </div>
   
    </div>

    <div class="bot-ad">
        <p class="ad-text">不管您有什么问题，都有我们在！</p>
    </div>

    <div class="bot-btn">
        <a class="btn-box" href="http://www.lvzheng.com/commondetail/detail/39186221829377.html">法务咨询1元 立即体验 ></a>
    </div>


</div>
