<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>小微律政-国内领先的O2O自营法律服务提供商</title>
<meta name="description" content="注册公司找小微律政,小微律政拥有专业的律师和会计团队,小微律政专注为创业公司及中小微企业提供代办公司注册,商标注册,代理记账,社保公积金开户,公司变更,合同拟定,公司章程等一站式企业服务，小微律政服务流程每一步都无微不至。">
<meta name="keywords" content="小微律政,代办注册公司,公司注册,商标注册费用和流程" />
<link href="news/css/index.css" type="text/css"  rel="stylesheet"/>
<link href="news/css/box.css" type="text/css"  rel="stylesheet"/>
<script type="text/javascript" src="news/js/jquery-1.7.2.min.js"></script>
<script src="news/js/jquery.touchSlider.js"></script>
<script src="news/js/jquery.jquery.tabs.js"></script>
<script type="text/javascript" src="news/js/return-top.js"></script>
<script type="text/javascript" src="news/js/box.js"></script> 
<script src="news/js/fun.js"></script>
<script>
$(function(){
    // 左导航切换显示
    $(".left-nav dd").hover(function(){
        $(".nav-right",this).show();
    });
    $(".left-nav dd").mouseleave(function(){
        $(".nav-right",this).hide();
    });
});
</script>

</head>
<body>
<div id="continer">
	<!-- 顶部信息条 -->
    <div class="top-box">
        <div class="box-con">
            <div class="left-box">
                <span class="item"><a href="">欢迎，18277711222</a></span>
                <span class="item"><a href="">退出</a></span>
                <span class="phone"><a href="">手机访问小微<b class="v-phone" ><img src="news/images/index/ewm.png" ></b></a></span>
            </div>
            <div class="right-box">
                <span class="item"><a href="">我的小微</a></span>
                <span class="item"><a href="">消息<i>3</i></a></span>
                <span class="item"><a href="">我的订单</a></span>
                <span class="call"><a href="">010-84463639</a></span>
            </div>
        </div>
    </div>

    <!-- logo区域 -->
    <div class="logo-box">
        <a href="" class="logo"></a>
        <!-- <span class="order-info">订单信息</span> -->
        <div class="ad-box">
            <ul>
                <li class="ico1">价格透明</li>
                <li class="ico2">信息保密</li>
                <li class="ico3">进度掌控</li>
                <li class="ico4">售后无忧</li>
            </ul>
        </div>
    </div>

    <!-- 导航 -->
    <div class="nav-box">
        <div class="box-con">
            <!-- 全部分类 -->
            <div class="n-left">全部分类
                <div class="banner-nav">
                    <div class="left-nav">
                        <dl>
                            <dd>
                                <a href="javascript:" class="nav-left">公司注册</a>
                                <div class="nav-right">
                                    <div class="main-box">
                                        <div class="left">
                                            <div class="list">
                                                <div class="title"><p>内资外资变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="title"><p>内资外资变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="title"><p>内资外资变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="right">
                                            <div class="pic">
                                                <img src="news/images/index/pic/a1.jpg">
                                                <img src="news/images/index/pic/a2.jpg">
                                                <img src="news/images/index/pic/a3.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                            <dd>
                                <a href="javascript:" class="nav-left">公司变更</a>
                                <div class="nav-right">
                                    <div class="main-box">
                                        <div class="left">
                                            <div class="list">
                                                <div class="title"><p>内资外资变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="title"><p>内资外资变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="pic">
                                                <img src="news/images/index/pic/a2.jpg">
                                                <img src="news/images/index/pic/a1.jpg">
                                                <img src="news/images/index/pic/a3.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                            <dd>
                                <a href="javascript:" class="nav-left">财税服务</a>
                                <div class="nav-right">
                                    <div class="main-box">
                                        <div class="left">
                                            <div class="list">
                                                <div class="title"><p>内资外资变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="pic">
                                                <img src="news/images/index/pic/a3.jpg">
                                                <img src="news/images/index/pic/a1.jpg">
                                                <img src="news/images/index/pic/a2.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                            <dd>
                                <a href="javascript:" class="nav-left">知识产权</a>
                                <div class="nav-right">
                                    <div class="main-box">
                                        <div class="left">
                                            <div class="list">
                                                <div class="title"><p>内资外资变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="title"><p>内资外资变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="title"><p>内资外资变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="pic">
                                                <img src="news/images/index/pic/a1.jpg">
                                                <img src="news/images/index/pic/a2.jpg">
                                                <img src="news/images/index/pic/a3.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                            <dd>
                                <a href="javascript:" class="nav-left">人事社保</a>
                                <div class="nav-right">
                                    <div class="main-box">
                                        <div class="left">
                                            <div class="list">
                                                <div class="title"><p>人事社保变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="title"><p>人事社保变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="pic">
                                                <img src="news/images/index/pic/a1.jpg">
                                                <img src="news/images/index/pic/a3.jpg">
                                                <img src="news/images/index/pic/a2.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                            <dd>
                                <a href="javascript:" class="nav-left">企业服务</a>
                                <div class="nav-right">
                                   <div class="main-box">
                                        <div class="left">
                                            <div class="list">
                                                <div class="title"><p>企业服务变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="list">
                                                <div class="title"><p>企业服务变更</p></div>
                                                <div class="text">
                                                    <ul>            
                                                        <li><a href="">有限公司注册</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                        <li><a href="">分有公司注册</a></li>
                                                        <li><a href="">股份公司注册</a></li>
                                                        <li><a href="">集团公司</a></li>
                                                        <li><a href="">个体工商户</a></li>
                                                        <li><a href="">合伙企业设立</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="pic">
                                                <img src="news/images/index/pic/a1.jpg">
                                                <img src="news/images/index/pic/a2.jpg">
                                                <img src="news/images/index/pic/a3.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                        </dl>

                    </div>
                </div>
            </div>
            <ul class="nav-ul">
                <li><a href="##" class="current">首页</a></li>
                <li><a href="##">公司注册</a></li>
                <li><a href="##">代理记账</a></li>
                <li><a href="##">商标注册</a></li>
                <li><a href="##">公司变更</a></li>
                <li><a href="##">名称查询 </a></li>
            </ul>
        </div>
    </div>
   
    <!-- 产品查询 -->
    <div class="cp-search">
        <div class="search-box sea-bg">
            <div class="search">
                <span class="sea-item">
                    <a class="city">北京</a>
                    <input class="zh-box" type="text" placeholder="请输入字号">
                    <input class="td-box" type="text" placeholder="请输入行业特点">
                    <a class="type">有限公司</a>
                </span>
                <a href="" class="btn pop_box1">立即查询</a>
            </div>
            <div class="jg-box">
                <p class="jg-search">您输入的查询结果：</p>
                <div class="hz-btn">
                    <p class="error">您的公司名称与以下公司相同，无法使用：</p>
                    <p class="error-name">1.北京<a>叶子</a>影视投资有限公司</p>
                </div>
            </div>
            <div class="jg-box">
                <p class="jg-search">您输入的查询结果：</p>
                <div class="hz-btn">
                    <span>公司名还没被占？ 恭喜你，快点 >> </span>
                    <a href="" class="btn">核准名称</a>
                </div>
            </div>
            <div class="ex-box">
                <div class="box1">
                    <label>名称举例：</label>
                    <div class="con">
                        <span>北京</span>
                        <span class="t1">小微律政</span>
                        <span class="t2">咨询服务</span>
                        <span>有限公司</span>
                    </div>
                </div>
                <div class="box1">
                    <label>小微建议：</label>
                    <div class="con">
                        <p class="text">1、字号：您与其他企业区别的标志。</p>
                        <p class="text">2、字号最少2个汉字。</p>
                        <p class="text">3、行业特点：您所要从事的主要经营项目。</p>
                        <p class="text">4、行业特点可填可选，应与您的主营业务相符。</p>
                        <p class="text">5、当字号相同时，但行业特点不同时，可以注册。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>        


    <!-- 网站底部 -->
    <div class="bot-main">
        <!-- 友情连接 -->
        <div class="link-main">
            <div class="link-box">
                <div class="list">
                    <label>热门服务：</label>
                    <div class="con">
                        <ul>
                            <li><a href="">北京公司注册</a></li>
                            <li><a href="">北京公司变更</a></li>
                            <li><a href="">北京公司记账</a></li>
                            <li><a href="">北京鲜花绿植</a></li>
                        </ul>
                    </div>
                </div>
                <div class="list">
                    <label>友情链接：</label>
                    <div class="con">
                        <ul>
                            <li><a href="">中国艺术设计联盟</a></li>
                            <li><a href="">中电云集</a></li>
                            <li><a href="">搜狗网址导航</a></li>
                            <li><a href="">蜂鸟网</a></li>
                            <li><a href="">中国艺术设计联盟</a></li>
                            <li><a href="">搜狗网址导航</a></li>
                            <li><a href="">中国艺术设计联盟</a></li>
                            <li><a href="">中国艺术设计联盟</a></li>
                            <li><a href="">搜狗网址导航</a></li>
                            <li><a href="">更多</a></li>
                        </ul>
                    </div>
                </div>                                         
            </div>
        </div>
        
        <!--查询 弹出框 -->
        <div class="cd-popup cd-box1" role="alert"> 
            <!-- 提示框 -->
            <div class="cd-popup-container bl-box">
                <div class="bl">
                    <div class="item">
                        <p>您输入的内容不完整，无法查询！</p>
                    </div>
                    <div class="btn">
                        <a href="">确定</a>
                    </div>
                </div> 
                <a href="#" class="cd-popup-close img-replace">关闭</a>
            </div>
        </div> 
        <!-- 弹出框 -->

        <!-- 底部宣传 -->
        <div class="bot-ad">
            <div class="ad-box">
                <ul>
                    <li class="ad-box1">
                        <p class="t1">价格透明</p>
                        <p class="t2">众创计划创业者半年免费</p>
                    </li>
                    <li class="ad-box2">
                        <p class="t1">价格透明</p>
                        <p class="t2">众创计划创业者半年免费</p>
                    </li>
                    <li class="ad-box3">
                        <p class="t1">价格透明</p>
                        <p class="t2">众创计划创业者半年免费</p>
                    </li>
                    <li class="ad-box4">
                        <p class="t1">价格透明</p>
                        <p class="t2">众创计划创业者半年免费</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bot-bg">
            <div class="bot-box">
                <div class="map">
                    <a href="">关于我们</a>
                    <a href="">人才招聘</a>
                    <a href="">网站地图</a>
                    <a href="">常见问题</a>
                    <a href="">加盟合作</a>
                </div> 
                <div class="text">©lvzheng.com 2014-2016 京ICP备15002212号-1</div> 
                <div class="text">北京佶象信息技术有限公司</div>
            </div>
        </div>

    </div>

</div>
</body>

</html>
