<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,width=device-width" />
    <title>下单预约-代理记账-国内领先的O2O自营法律服务提供商</title>
    <meta name="description" content="注册公司找小微律政,小微律政拥有专业的律师和会计团队,小微律政专注为创业公司及中小微企业提供代办公司注册,商标注册,代理记账,社保公积金开户,公司变更,合同拟定,公司章程等一站式企业服务，小微律政服务流程每一步都无微不至。">
    <meta name="keywords" content="小微律政,代办注册公司,公司注册,商标注册费用和流程" />
    <link rel="stylesheet" type="text/css" href="news/css/ztm.css">
    <link href="news/css/box.css" type="text/css"  rel="stylesheet"/>
    <script src="news/js/viewport.js"></script>
    <script type="text/javascript" src="news/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="news/js/box.js"></script> 
    <script>
    $(function(){
        $(window).scroll(function(){
            var a=parseInt($(window).scrollTop());
            if(a<330){
                $(".bot-btn").removeClass("mbl-navxf")
            }
            if(a>330){
                $(".bot-btn").addClass("mbl-navxf")
            }
        });
    })
    </script>
</head>
<body>
<div class="wrapper">
    <div class="mzt-reg">
        <div class="banner-box">
            <div class="banner">
                <div class="b-tag1"></div>
                <div class="b-tag2">全程：免费、快捷、方便、贴心</div>
                <div class="b-tag3"><a href="" class="btn pop_box1">立即办理</a></div>
            </div>
        </div>
        <a href="" class="bot-btn pop_box1">立即办理</a>

        <div class="mreg-main">
            <div class="f-step">
                <div class="title">
                    <p>四步轻松搞定公司注册</p>
                </div>
                <div class="step-box">
                    <ul>
                        <li class="s1">1. 起个名称</li>
                        <li class="s2">2. 填写资料</li>
                        <li class="s3">3. 领取执照</li>
                        <li class="s4">4. 刻制印章</li>
                    </ul>
                </div>
            </div>

            <div class="box1">
                <div class="con">
                    <p class="peo"><img src="news/images/zt/regcom/peo1.png"></p>
                    <p class="name">随时随地<span>免费解惑</span></p>
                    <span class="text1">自己如何才能申请想要的公司名称？</span>
                    <span class="text2">核准公司名称老是通不过。</span>
                    <span class="text3">自己办理好麻烦！</span>
                </div>
            </div>

            <div class="box2">
                <div class="con">
                    <p class="peo"><img src="news/images/zt/regcom/peo2.png"></p>
                    <p class="name">一键约号<span>更省心</span></p>
                    <span class="text1">约号每次都约不上？</span>
                    <span class="text2">不知道啥时候约上号。</span>
                    <span class="text3">自己办理好麻烦！</span>
                </div>
            </div>

            <div class="box3">
                <div class="con">
                    <p class="peo"><img src="news/images/zt/regcom/peo3.png"></p>
                    <p class="name">代办交件<span>零误差</span></p>
                    <span class="text1">每次交件都很慢？</span>
                    <span class="text2">怎么才能更快一点。</span>
                    <span class="text3">自己办理好麻烦！</span>
                </div>
            </div>

            <div class="box4">
                <div class="con">
                    <p class="peo"><img src="news/images/zt/regcom/peo4.png"></p>
                    <p class="name">正规刻章</p>
                    <p class="name1">100%安全放心</p>
                    <span class="text1">到底哪家刻章正规？</span>
                    <span class="text2">这家还是那家？</span>
                    <span class="text3">自己办理好麻烦！</span>
                </div>
            </div>

            <div class="box5">
                <div class="con">
                    <p class="peo"><img src="news/images/zt/regcom/peo5.png"></p>
                    <p class="name">小微办理四大优势</p>
                    <p class="name1"><img src="news/images/zt/regcom/t5.png"></p>
                    <div class="text-box">
                        <p class="text"><label>1、</label><span>来自小微律政多年公司注册经验累积，办理过程简单，让注册流程更<a>快捷</a>。</span></p>
                        <p class="text"><label>2、</label><span>电话咨询帮助，无需任何费用，使用<a>免费</a>。</span></p>
                        <p class="text"><label>3、</label><span>自助系统更人性化，更有小微专业提示。让注册流程<a>方便</a>。</span></p>
                        <p class="text"><label>4、</label><span>每个办理环节牢牢相扣。全程微信与短信提示进度，服务更<a>贴心</a>。</span></p>
                    </div>
                </div>
            </div>

            <!-- 请付款 弹出框 -->
            <div class="cd-popup cd-box1" role="alert"> 
                <!-- 登录框 -->
                <div class="cd-popup-container mlogin-box">
                    <div class="mlogin">
                        <div class="item">
                            <p>
                                <input class="w-480" type="text" placeholder="请输入新手机号码">
                            </p>
                            <p>
                                <input class="w-480" type="text" placeholder="请输入手机验证码">
                                <a href="" class="get-code">获取验证码</a>
                                <span class="time">剩余<a>52s</a></span>
                            </p>
                        </div>
                        <div class="btn">
                            <a href="">取消</a>
                            <a href="">登录</a>
                        </div>
                    </div> 
                </div>

                <!-- 提示框 -->
                <div class="cd-popup-container mbl-box">
                    <div class="mbl">
                        <div class="item">
                            <p>您已经正在办理公司注册了<br>是否需要再注册一个新公司？</p>
                        </div>
                        <div class="btn">
                            <a href="">不，继续办理</a>
                            <a href="">是，注册新公司</a>
                        </div>
                    </div> 
                </div>

            </div> 
            <!-- 弹出框 -->  

        </div>

        <div class="footer">版权所有 ©lvzheng.com <br> 2014-2016 京ICP备15002212号-1(网站备案编号) <br> CP主题备案编号:京ICP备15002212号</div>
    </div>
</div>
</body>
</html>