							<div class="sublist sub1">
                                <div class="list">
                                    <p class="li hname">工商变更和税务个税核定的ß区别是什么？只做一项对企业有什么影响？</p>
                                    <p class="ans">现在工商局个人股东变更股权的时候，工商局是要求企业要先行或同时去税务机关办理个人所得税的核定，这是两个机关的不同业务。如果ß只做了工商变更，没有去税务机关办理个税核定，有偷逃税款的嫌疑，有被税务机关传唤的风险。如果只做了个税核定没有做工商变更，相当于没有完成股权变更。</p>
                                </div>
                                <div class="list">
                                    <p class="li hname">三证合一后的银行三方变更是一定要办的吗？需要把当月所有的税交完再办理吗？</p>
                                    <p class="ans">三方协议一定要重新办理，对于当月税是否交完没有强制性规定。</p>
                                </div>
                                <div class="list">
                                    <p class="li hname">变更法人时，如果新旧法人都不是股东，两人是否都可以不去现场只靠邮寄材料办理？</p>
                                    <p class="ans">不需要法人到场，我们可以通过邮寄材料，也可以派我们外勤到现场办理。</p>
                                </div>
                                
                            </div>
